<launch>

  <include file="$(find fri_sawyer)/launch/sawyer.launch" >
      <arg name="sawyer_name" value="alexei" />
      <arg name="sawyer_master" value="http://192.168.0.102:11311" />
      <arg name="server_master" value="http://192.168.0.201:11311" />
      <arg name="tf_map_to_sawyer" value="0 0 0 0 0 0 1" />
  </include>

</launch>
