<launch>

  <arg name="sawyer_name" default="tom" />
  <arg name="sawyer_master" default="http://192.168.0.100:11311" />
  <arg name="server_master" default="http://192.168.0.200:11311" />

  <!--###########################-->
  <!--## from robot to server ###-->
  <!--###########################-->

  <node pkg="multicore_comm" type="bridge_node" name="$(eval anon(sawyer_name+'_navigator_states'))" required="true" output="screen" >
    <param name="sub_master_uri" type="string" value="$(arg sawyer_master)"/>
    <param name="sub_topic" type="string" value="/io/robot/navigator/state"/>
    <param name="pub_master_uri" type="string" value="$(arg server_master)"/>
    <param name="pub_topic" type="string" value="/$(arg sawyer_name)/navigator/states"/>
    <param name="msg_type" type="string" value="intera_core_msgs/IODeviceStatus"/>
  </node>

  <node pkg="multicore_comm" type="bridge_node" name="$(eval anon(sawyer_name+'_cuff_states'))" required="true" output="screen" >
    <param name="sub_master_uri" type="string" value="$(arg sawyer_master)"/>
    <param name="sub_topic" type="string" value="/io/robot/cuff/state"/>
    <param name="pub_master_uri" type="string" value="$(arg server_master)"/>
    <param name="pub_topic" type="string" value="/$(arg sawyer_name)/cuff/states"/>
    <param name="msg_type" type="string" value="intera_core_msgs/IODeviceStatus"/>
  </node>


  <!--###########################-->
  <!--## from server to robot ###-->
  <!--###########################-->

  <node pkg="multicore_comm" type="bridge_node" name="$(eval anon(sawyer_name+'_io_robot_cmds'))" required="true" output="screen" >
    <param name="sub_master_uri" type="string" value="$(arg server_master)"/>
    <param name="sub_topic" type="string" value="/$(arg sawyer_name)/io/robot/command"/>
    <param name="pub_master_uri" type="string" value="$(arg sawyer_master)"/>
    <param name="pub_topic" type="string" value="/io/robot/robot/command"/>
    <param name="msg_type" type="string" value="intera_core_msgs/IOComponentCommand"/>
  </node>


</launch>
