<launch>

  <arg name="sawyer_name" default="tom" />
  <arg name="sawyer_master" default="http://192.168.0.100:11311" />
  <arg name="server_master" default="http://192.168.0.200:11311" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sawyer_description)/urdf/sawyer.urdf.xacro' electric_gripper:='true'" />

  <!--###########################-->
  <!--## from robot to server ###-->
  <!--###########################-->

  <node pkg="multicore_comm" type="bridge_node" name="$(eval anon(sawyer_name+'_state'))" required="true" output="screen" >
    <param name="sub_master_uri" type="string" value="$(arg sawyer_master)"/>
    <param name="sub_topic" type="string" value="/robot/state"/>
    <param name="pub_master_uri" type="string" value="$(arg server_master)"/>
    <param name="pub_topic" type="string" value="/$(arg sawyer_name)/state"/>
    <param name="msg_type" type="string" value="intera_core_msgs/RobotAssemblyState"/>
  </node>


  <!--###########################-->
  <!--## from server to robot ###-->
  <!--###########################-->


  <node pkg="multicore_comm" type="bridge_node" name="$(eval anon(sawyer_name+'_reset'))" required="true" output="screen" >
    <param name="sub_master_uri" type="string" value="$(arg server_master)"/>
    <param name="sub_topic" type="string" value="/$(arg sawyer_name)/reset"/>
    <param name="pub_master_uri" type="string" value="$(arg sawyer_master)"/>
    <param name="pub_topic" type="string" value="/robot/set_super_reset"/>
    <param name="msg_type" type="string" value="std_msgs/Empty"/>
  </node>

  <node pkg="multicore_comm" type="bridge_node" name="$(eval anon(sawyer_name+'_enable'))" required="true" output="screen" >
    <param name="sub_master_uri" type="string" value="$(arg server_master)"/>
    <param name="sub_topic" type="string" value="/$(arg sawyer_name)/enable"/>
    <param name="pub_master_uri" type="string" value="$(arg sawyer_master)"/>
    <param name="pub_topic" type="string" value="/robot/set_super_enable"/>
    <param name="msg_type" type="string" value="std_msgs/Bool"/>
  </node>



  <!--###########################-->
  <!--#        INCLDUES         #-->
  <!--###########################-->



  <arg name="use_arm" default="true" />
  <include if="$(arg use_arm)" file="$(find fri_sawyer)/launch/sawyer_arm.launch" >
    <arg name="sawyer_name" value="$(arg sawyer_name)" />
    <arg name="sawyer_master" value="$(arg sawyer_master)" />
    <arg name="server_master" value="$(arg server_master)" />
  </include>

  <arg name="use_gripper" default="true" />
  <include if="$(arg use_gripper)" file="$(find fri_sawyer)/launch/sawyer_gripper.launch" >
    <arg name="sawyer_name" value="$(arg sawyer_name)" />
    <arg name="sawyer_master" value="$(arg sawyer_master)" />
    <arg name="server_master" value="$(arg server_master)" />
  </include>

  <arg name="use_head" default="true" />
  <include if="$(arg use_head)" file="$(find fri_sawyer)/launch/sawyer_head.launch" >
    <arg name="sawyer_name" value="$(arg sawyer_name)" />
    <arg name="sawyer_master" value="$(arg sawyer_master)" />
    <arg name="server_master" value="$(arg server_master)" />
  </include>

  <arg name="use_io" default="true" />
  <include if="$(arg use_io)" file="$(find fri_sawyer)/launch/sawyer_io.launch" >
    <arg name="sawyer_name" value="$(arg sawyer_name)" />
    <arg name="sawyer_master" value="$(arg sawyer_master)" />
    <arg name="server_master" value="$(arg server_master)" />
  </include>


  <arg name="use_camera" default="false" />
  <arg name="stream_rect" default="false" />
  <arg name="stream_raw" default="false" />
  <arg name="stream_info" default="false" />
  <include if="$(arg use_camera)" ns= "/camera" file="$(find fri_sawyer)/launch/sawyer_camera.launch" >
    <arg name="sawyer_name" value="$(arg sawyer_name)" />
    <arg name="camera_name" value="$(arg sawyer_name)_head" />
    <arg name="sawyer_master" value="$(arg sawyer_master)" />
    <arg name="server_master" value="$(arg server_master)" />
    <arg name="stream_rect" value="$(arg stream_rect)" />
    <arg name="stream_raw" value="$(arg stream_raw)" />
    <arg name="stream_info" value="$(arg stream_info)" />
  </include>

  <arg name="use_tf" default="true" />
  <arg name="tf_map_to_sawyer" default="0 0 0 0 0 0 1" />
  <include if="$(arg use_tf)" file="$(find fri_sawyer)/launch/sawyer_tf.launch" >
    <arg name="sawyer_name" value="$(arg sawyer_name)" />
    <arg name="sawyer_master" value="$(arg sawyer_master)" />
    <arg name="server_master" value="$(arg server_master)" />
    <arg name="tf_map_to_sawyer" value="$(arg tf_map_to_sawyer)" />
  </include>

</launch>
